.totalArea{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formCreate{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 350px;
  height: 400px;
  background: lightslategray;
}

.formConnect{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 350px;
  height: 450px;
  background: lightslategray;
}

.formDelete{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  border-radius: 20px;
  width: 450px;
  height: 300px;
  background: #800000;
}

.changeLink{
  color: darkred;
}

.changeLink:hover{
  cursor: pointer;
}
